#leader
* @Shrssss @tommy10092525

#FrontReviewer
/homepage/src/main/resources/static/** @tommy10092525 @Melting-Sugar
/homepage/src/main/resources/templates/** @tommy10092525 @Melting-Sugar
/frontend/** @tommy10092525 @Melting-Sugar

#BackReviewer
/homepage/src/main/java/** @Shrssss
