<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.codemates.homepage.mapper.ItemRentalHistoryMapper">

	<select id="findByIds" resultType="net.codemates.homepage.model.entity.ItemRentalHistory">
	
		SELECT *
		FROM item_rental_histories
		WHERE id IN
		
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			
			#{id}
			
		</foreach>
		
		ORDER BY id
		LIMIT #{limit} OFFSET #{offset}
	
	</select>
	
	<select id="findByItemIds" resultType="net.codemates.homepage.model.entity.ItemRentalHistory">
	
		SELECT *
		FROM item_rental_histories
		WHERE item_id IN
		<foreach collection="itemIds" item="itemId" open="(" separator="," close=")">
			
			#{itemId}
			
		</foreach>
		
		ORDER BY id
		LIMIT #{limit} OFFSET #{offset}
	
	</select>
	
	<select id="findByRenterIds" resultType="net.codemates.homepage.model.entity.ItemRentalHistory">
	
		SELECT *
		FROM item_rental_histories
		WHERE renter_id IN
		<foreach collection="renterIds" item="renterId" open="(" separator="," close=")">
			
			#{renterId}
			
		</foreach>
		
		ORDER BY id
		LIMIT #{limit} OFFSET #{offset}
	
	</select>
	
	<select id="findActiveByItemIdAndRenterId" resultType="net.codemates.homepage.model.entity.ItemRentalHistory">

    	SELECT *
    	FROM item_rental_histories
   		WHERE item_id = #{itemId}
      		AND renter_id = #{renterId}
      		AND returned_at IS NULL
    	ORDER BY rented_at DESC
    	LIMIT 1

	</select>	
	
	
	
	<insert id="insert" parameterType="net.codemates.homepage.model.entity.ItemRentalHistory" useGeneratedKeys="true" keyProperty="id">
	
		INSERT INTO 
		item_rental_histories
		(
			item_id,
			renter_id,
			rented_at
		)
		VALUES
		(
			#{itemId},
			#{renterId},
			CURRENT_TIMESTAMP
		)
	
	</insert>
	
	
	
	<update id="updateReturningDayTime" parameterType="net.codemates.homepage.model.entity.ItemRentalHistory">
	
		UPDATE item_rental_histories 
		SET returned_at = CURRENT_TIMESTAMP
		WHERE id = #{id}
	
	</update>


	
	<delete id="deleteById" parameterType="Long">
	
		DELETE FROM item_rental_histories WHERE id = #{id}
	
	</delete>

</mapper>