<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.codemates.homepage.mapper.ItemMapper">

	<select id="findByIds" parameterType="java.util.List" resultType="net.codemates.homepage.model.entity.Item">
	
		SELECT *
		FROM items
		WHERE id IN
		
		<foreach collection="ids" item="id" open="(" separator="," close=")">
		
			#{id}
		
		</foreach>
	
	</select>
	
	<select id="search" resultType="net.codemates.homepage.model.entity.Item">
	
		SELECT * FROM items 
	
		<where>
	
			<if test="name != null and name.trim() != ''">
			
				AND name ILIKE '%' || #{name} || '%'
			
			</if> 
			
			<if test="storageLocations != null and storageLocations.size() > 0">
		
				AND storage_location IN
			
				<foreach collection="storageLocations" item="storageLocation" open="(" separator="," close=")">
				
					#{storageLocation}
					
				</foreach>
		
			</if>
		
			<if test="isDisposable != null">
			
				AND is_disposable = #{isDisposable}
			
			</if>
		
			<if test="isRentable != null">
		
				AND is_rentable = #{isRentable}
			
			</if>
	
		</where>
	
		ORDER BY name
		LIMIT #{limit} OFFSET #{offset}
	
	</select>
	
	
	
	<insert id="insert" parameterType="net.codemates.homepage.model.entity.Item">
	
		INSERT INTO 
		items
		(
			name,
			description,
			storage_location,
			quantity,
			is_disposable,
			is_rentable
		)
		VALUES
		(
			#{name},
			#{description},
			#{storageLocation},
			#{quantity},
			#{isDisposable},
			#{isRentable}
		)
	
	</insert>
	
	
	
	<update id="update" parameterType="net.codemates.homepage.model.entity.Item">
	
		UPDATE items 
		SET name = #{name},
			description = #{description},
			storage_location = #{storageLocation},
			quantity = #{quantity},
			is_disposable = #{isDisposable},
			is_rentable = #{isRentable}
		WHERE id = #{id}
	
	</update>
	
	<update id="updateRenterIdById" parameterType="net.codemates.homepage.model.entity.Item">
	
		UPDATE items 
		SET renter_id = #{renterId}
		WHERE id = #{id}
	
	</update>
	
	
	
	<delete id="deleteById" parameterType="Long">
	
		DELETE FROM items WHERE id = #{id}
	
	</delete>

</mapper>