<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.codemates.homepage.mapper.MemberTechnologyMapper">

	<select id="findByTechnologiesByMemberIds" parameterType="java.util.List" resultType="net.codemates.homepage.model.entity.Technology">
	
		SELECT *
		FROM technologies
		INNER JOIN member_technologies ON technology_id = technologies.id
		WHERE member_id IN
		
		<foreach collection="memberIds" item="memberId" open="(" separator="," close=")">
		
			#{memberId}
		
		</foreach>
	
	</select>
	
	<select id="findByMembersByTechnologyIds" parameterType="java.util.List" resultType="net.codemates.homepage.model.entity.Member">
	
		SELECT *
		FROM members
		INNER JOIN member_technologies ON member_id = members.id
		WHERE technology_id IN
		
		<foreach collection="technologyIds" item="technologyId" open="(" separator="," close=")">
		
			#{technologyId}
		
		</foreach>
	
	</select>


	
	<insert id="insert" parameterType="net.codemates.homepage.model.entity.MemberTechnology" useGeneratedKeys="true" keyProperty="id">
	
		INSERT INTO 
		member_technologies
		(
			member_id,
			technology_id
		)
		VALUES
		(
			#{memberId},
			#{technologyId}
		)
	
	</insert>
	
	
	
	<delete id="delete" parameterType="Long">
	
		DELETE FROM member_technologies 
		WHERE member_id = #{memberId} AND technology_id = #{technologyId}
	
	</delete>

</mapper>