<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.codemates.homepage.mapper.MemberMapper">

	<select id="findByIds" parameterType="java.util.List" resultType="net.codemates.homepage.model.entity.Member">
	
		SELECT *
		FROM members
		WHERE id IN
		
		<foreach collection="ids" item="id" open="(" separator="," close=")">
		
			#{id}
		
		</foreach> 
	
	</select>
	
	<select id="search" resultType="net.codemates.homepage.model.entity.Member">
	
		SELECT * FROM members 
	
		<where>
	
			<if test="name != null and name.trim() != ''">
			
				AND name ILIKE '%' || #{name} || '%'
			
			</if> 
		
			<if test="grades != null and grades.size() > 0">
		
				AND grade IN
			
				<foreach collection="grades" item="grade" open="(" separator="," close=")">
		
					#{grade}
		
				</foreach>
		
			</if>
		
			<if test="positions != null and positions.size() > 0">
		
				AND grade IN
			
				<foreach collection="positions" item="position" open="(" separator="," close=")">
		
					#{position}
			
				</foreach>
		
			</if>
	
		</where>
		
		ORDER BY name
		LIMIT #{limit} OFFSET #{offset}
	
	</select>
	
	<select id="findAll" resultType="net.codemates.homepage.model.entity.Member">
	
		SELECT * FROM members
	
	</select>
	
	
	
	<insert id="insert" parameterType="net.codemates.homepage.model.entity.Item">
	
		INSERT INTO
		members
		(
			name,
			student_id,
			email,
			grade,
			position,
			password_hash
		)
		VALUES
		(
			#{name},
			#{studentId},
			#{email},
			#{grade},
			#{position},
			#{passwordHash}
		)
	
	</insert>
	
	
	
	<update id="update" parameterType="net.codemates.homepage.model.entity.Item">
	
		UPDATE members 
		SET name = #{name},
			student_id = #{studentId},
			email = #{email},
			grade = #{grade},
			position = #{position}
		WHERE id = #{id}
	
	</update>
	
	<update id="updateByGrade" parameterType="net.codemates.homepage.model.entity.Item">
	
		UPDATE members 
		SET name = #{name},
			student_id = #{studentId},
			email = #{email},
			grade = grade+1,
			position = #{position}
		WHERE grade = #{grade}
	
	</update>
	
	
	
	<delete id="deleteById" parameterType="Long">
	
		DELETE FROM members WHERE id = #{id}
	
	</delete>

</mapper>