<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.codemates.homepage.mapper.NewsMapper">

	<select id="findById" parameterType="Long" resultType="net.codemates.homepage.model.entity.News">
	
		SELECT * FROM news WHERE id = #{id}
	
	</select>
	
	<select id="search" resultType="net.codemates.homepage.model.entity.News">
	
		SELECT * FROM news 
	
		<where>
		
			<if test="keyword != null and keyword.trim() != ''">
			
				AND (
					title ILIKE '%' || #{keyword} || '%'
					OR content ILIKE '%' || #{keyword} || '%'
				)
			
			</if> 
			
			<if test="categories != null and categories.size() > 0">
			
				AND category IN
				
				<foreach collection="categories" item="category" open="(" separator="," close=")">
		
					#{category}
		
				</foreach>
				
			</if>
		
		</where>
	
	</select>
	
	<select id="findAll" resultType="net.codemates.homepage.model.entity.News">
	
		SELECT * FROM news
	
	</select>
	
	
	
	<insert id="insert" parameterType="net.codemates.homepage.model.entity.News" useGeneratedKeys="true" keyProperty="id">
	
		INSERT INTO 
		news
		(
			title,
			content,
			thumbnail_path,
			category,
			is_published
		)
		VALUES
		(
			#{title},
			#{content},
			#{thumbnailPath},
			#{category},
			#{isPublished}
		)
	
	</insert>
	
	
	
	<update id="update" parameterType="net.codemates.homepage.model.entity.News">
	
		UPDATE news 
		SET title = #{title},
			content = #{content},
			thumbnail_path = #{thumbnailPath},
			category = #{category},
			updated_at = CURRENT_TIMESTAMP
		WHERE id = #{id}
	
	</update>
	
	<update id="updateIsPublishedById">
	
		UPDATE news 
		SET is_published = #{isPublished}
		WHERE id = #{id}
	
	</update>


	
	<delete id="deleteById" parameterType="Long">
	
		DELETE FROM news WHERE id = #{id}
	
	</delete>

</mapper>