<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TechnologyMapper">

	<select id="findByIds" parameterType="java.util.List" resultType="net.codemates.homepage.model.entity.technology">
	
		SELECT * FROM technologies WHERE id IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
		
			#{id}
		
		</foreach>
	
	</select>
	
	<select id="findByName" parameterType="String" resultType="net.codemates.homepage.model.entity.technology">
	
		SELECT * FROM technologies WHERE name = #{name}
	
	</select>
	
	<select id="findAll" resultType="net.codemates.homepage.model.entity.technology">
	
		SELECT * FROM technologies
	
	</select>	
	
	
	
	<insert id="insert" parameterType="net.codemates.homepage.model.entity.technology">
	
		INSERT INTO 
		technologies
		(
			name,
			description
		)
		VALUES
		(
			#{name},
			#{description}
		)
	
	</insert>
	
	
	
	<update id="update" parameterType="net.codemates.homepage.model.entity.technology">
	
		UPDATE technologies 
		SET name = #{name},
			description = #{description}
		WHERE id = #{id}
	
	</update>
	
	
	
	<delete id="deleteById" parameterType="Long">
	
		DELETE FROM technologies WHERE id = #{id}
	
	</delete>

</mapper>